<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Tweets (<%= @user.tweets.count %>)</h3>
<%= link_to 'Add Tweets', new_user_tweet_path(@user), :class => "tweet_actions" %>

<div class="span12">
  <% if @user.tweets.any? %>
    <ol class="tweets">
      <%= render @tweets %>
    </ol>
    <%= will_paginate @tweets %>
  <% end %>
</div>
